<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ctepe.persentil_hesaplama" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Persentil Hesaplama"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Persentil Hesaplama"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".weight_erkek"
            android:label="Erkek Değerleri" >
        </activity>
        <activity
            android:name=".weight_kiz"
            android:label="Kız Değerleri" >
        </activity>
    </application>

</manifest>
